[submodule "themes/even"]
	path = themes/even
	url = https://github.com/ahonn/hexo-theme-even
[submodule "themes/hueman"]
	path = themes/hueman
	url = https://github.com/ppoffice/hexo-theme-hueman.git
